<h1>change password</h1>
<form action="/users/update-password" method="post">
    <input type="password" name="new_password" placeholder="enter new password">
    <input type="password" name="confirm_new_password" placeholder="reenter password">
    <input hidden value="<%=user%>" name="user">
    <button type="submit">submit</button>
</form>