<h1>
    Codeial / <%= title %>
</h1>

<section id="feed-post">
    <h4>Posts</h4>
    <form id="new-post-form" action="" method="post">
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>