<link rel="stylesheet" href="/css/profile.css">
<h1>
    Codeial / Profile Page
</h1>
<%if(locals.user._id.equals(selected_user._id)){%>
    <p>update options</p>
<%}else{%>
    <p><%= selected_user.username %></p>
    <p><%= selected_user.email %></p>
<%}%>