<link rel="stylesheet" href="/css/signin.css">
<h1>Sign In</h1>
<form action="/users/create-session" method="post">
    <label>email</label>
    <input type="email" name="email" placeholder="email" required>
    <br>
    <label>password</label>
    <input type="password" name="password" placeholder="password" required>
    <br>
    <button type="submit">Sign IN</button>
</form>

<p>
    <a href="/users/auth/google">google log in</a>
</p>

<p>
    <a href="/users/reset-password">reset password</a>
</p>