<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Sign In</h1>
        <form action="/users/create-session" method="post">
            <label>email</label>
            <input type="email" name="email" placeholder="email" required>
            <br>
            <label>password</label>
            <input type="password" name="password" placeholder="password" required>
            <br>
            <button type="submit">Sign IN</button>
        </form>
    </body>
</html>