<html>
    <head>
        <title>
            GO-SOCIAL
        </title>
    </head>
    <body>
        <p><%= username%></p>
        <p><%= email%></p>
        <a href="/users/sign-out">sign out</a>
    </body>
</html>